# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
!ls

CONTRIBUTING.md  economy_data.csv  LICENSE.md  Walmart.db
db_schema.jpg	 index.ipynb	   README.md

In [4]:
# Your code here
import pandas as pd
import sqlite3 as sql

econ_df = pd.read_csv('economy_data.csv')
econ_df.head().T

con = sql.connect('Walmart.db')
cur = con.cursor()
query = """SELECT * FROM sales JOIN store_details USING(Store);"""
df = pd.DataFrame(cur.execute(query).fetchall())

                       0           1           2           3           4
Store                  1           1           1           1           1
Date          2010-02-05  2010-02-12  2010-02-19  2010-02-26  2010-03-05
Temperature        42.31       38.51       39.93       46.63        46.5
Fuel_Price         2.572       2.548       2.514       2.561       2.625
MarkDown1            NaN         NaN         NaN         NaN         NaN
MarkDown2            NaN         NaN         NaN         NaN         NaN
MarkDown3            NaN         NaN         NaN         NaN         NaN
MarkDown4            NaN         NaN         NaN         NaN         NaN
MarkDown5            NaN         NaN         NaN         NaN         NaN
CPI              211.096     211.242     211.289      211.32      211.35
Unemployment       8.106       8.106       8.106       8.106       8.106
IsHoliday          False        True       False       False       False

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!